*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.obshiy{
    position: absolute;
    width: 100%;
    height: 100%;
}
.perviy{
    display: inline-block;
    position: relative;
    border: 1px solid black;
    width: 48.5%;
    height: 46.5%;
    margin: 10px 0px 0px 10px;
}
.vtoroy{
    display: inline-block;
    position: relative;
    border: 1px solid blue;
    width: 48.5%;
    height: 46.5%;
    margin: 10px 10px 0px 10px;
}
.tretiy{
    display: inline-block;
    position: relative;
    border: 1px solid red;
    width: 48.5%;
    height: 46.5%;
    margin: 10px 10px 10px 10px;
}
.chetvertiy{
    display: inline-block;
    position: relative;
    border: 1px solid darkgreen;
    width: 48.5%;
    height: 46.5%;
    margin: 10px 10px 10px 0px;
}