*{
    margin: 0;
    padding: 0;
}
.ll{
    position: absolute;
    width: 100%;
    height: 100%;
}
.blok{
    position: absolute;
    display: inline-block;
    border: 1px solid green;
    width: 30px;
    height: 30px;
    background: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}