body{
    background: white;
}
.p1>img{
    position: fixed;
    display: inline-block;
    /*border: 1px solid yellow;*/
    width: 100px;
    height: 100px;
    transition: transform 5s;
    /*transform: rotate(360deg*/);
}
.p1>img:hover{
    transform: rotate(360deg);
}
