*{
    margin: 0;
    padding: 0;
}
.t{
    display: inline-block;
    position: absolute;
    border: 2px double darkred;
    background: darkgreen;
    width: 100px;
    height: 100px;
    transform: translate(50%, 50%)
}
span{
    color: white;
}
.s{
    display: inline-block;
    position: absolute;
    border: 2px double darkred;
    background: darkgreen;
    width: 100px;
    height: 100px;
    transform: scale(2, 0.5);
    left: 300px;
    top: 25px;
}
.r{
    display: inline-block;
    position: absolute;
    border: 2px double darkred;
    background: darkgreen;
    width: 100px;
    height: 100px;
    transform: rotate(60deg);
    left: 500px;
    top: 25px;
}
.w{
    display: inline-block;
    position: absolute;
    border: 2px double darkred;
    background: darkgreen;
    width: 100px;
    height: 100px;
    transform: skew(30deg, 20deg);
    left: 700px;
    top: 25px;
}




